@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 11%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 11%;

    --primary: 353 82% 66%;
    --primary-foreground: 0 0% 98%;

    --secondary: 46 100% 74%;
    --secondary-foreground: 359 98% 49%;

    --muted: 0 0% 98%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 0 0% 98%;
    --accent-foreground: 359 98% 49%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 73%;
    --input: 0 0% 73%;
    --ring: 0 0% 11%;

    --radius: 0.5rem;

    /* colors */
    --p-900: 231 100% 4%;
    --t-900: 222 19% 63%;
  }

  .dark {
    --background: 231 100% 4%;

    --primary: 353 82% 66%;

    --secondary: 46 100% 74%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  table thead th,
  table tbody td {
    text-align: left;
    padding: theme("padding.5") theme("padding.5");
  }

  /* service splide carousel */
  .service__splide.splide {
    position: static;
  }

  .service__splide .splide__pagination {
    right: 0%;
    left: 0.5rem;
    bottom: 1.5rem;
    /* bottom: 55%; */
    justify-content: left;
  }

  /* .service__splide img {
    object-fit: cover;
  } */

  @media (max-width: 768px) {
    .service__splide .splide__pagination {
      bottom: 55%;
    }
  }

  .service__splide .splide__pagination__page {
    opacity: 1;
  }
  .service__splide .splide__pagination__page.is-active {
    background: #ffe17a;
    transform: scale(1);
  }
}
